:root {
 --purple: rgb(112, 76, 182);
 --default-timing: .25s;
 --m1: .75em;
 --m2: 1em;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.input {
  padding: .6em .9em;
  appearance: none;
  transition: var(--default-timing);
}
.input:hover {
  background-color: rgb(243, 243, 243);
}

.btn {
  padding: .7em 1.45em;
  border-radius: 4px;
  cursor: pointer;
  background-color: black;
  color:white;
  transition: var(--default-timing);
  font-weight: bold;
  outline: none;
  border: none;
}
.btn.primary {
  background-color: var(--purple);
}
.btn:hover {
  opacity: .8;
}

.mr1 {
  margin-right: var(--m1);
}
.mr2 {
  margin-right: var(--m2);
}
.ml1 {
  margin-left: var(--m1);
}
.ml2 {
  margin-left: var(--m2);
}
.mt1 {
  margin-top: var(--m1);
}
.mt2 {
  margin-top: var(--m2);
}
.mb1 {
  margin-bottom: var(--m1);
}
.mb2 {
  margin-bottom: var(--m2);
}

.text-size {
  font-size: 17px;
}

.counter-text {
  font-size: 10em;
  margin: 0;
}